<h2>ShuffleDuck Account Details</h2>
<p>
Username:    <%= @username %><br/>
Password:    <%= link_to "Click here to reset", @edit_password_reset_url %>
</p>

<p>
(If you didn't request a password reset, please ignore this mail.)
</p>